
* {
  box-sizing: border-box;
  font-family: DM sans;
}
  
  body{
    max-width: 1440px;
    margin: auto;
  }

  $color-primary: #901C1C;
  $color-secondary: #D3573C;
  $color-tertiary: #757575;

header{
    margin: 2rem;
}


/* Photographer Info section */


.photographerIntro{
    margin: 2rem 6rem;
    display: flex;
    justify-content: space-between;
    padding: 2rem;
    border-radius: 18px;
    background-color: #FAFAFA; 
    h1{
    color: $color-secondary;
    font-weight: 400;
    font-size: 44px;
    margin: 2.5rem 0 1.5rem 0;
    }

    .photographerLocation{
        color: $color-primary;
        font-weight: 400;
        font-size: 24px;
        margin-bottom: 0;
    }

    .photographerTagLine{
        font-weight: 400;
        font-size: 18px;
        margin-top: 0.5rem;
    }

    .contactButton{
        padding: 1rem 1rem;
        margin: 5rem 4rem;
        border-radius: 5px;
        background-color: $color-primary;
        font-weight: 700;
        font-size: 16px;
        color: white;
        border: none;
        height: 55px;
        text-decoration: none;
        min-width: fit-content;
    }

    .contactButton:hover{
      filter: brightness(110%);
    }

    .photoId{
        width: 14rem;
        height: 14rem;
        object-fit: cover;
        clip-path: circle();
    }
}

/* Responside design for mobiles */
@media (max-width: 762px) {
  .photographerInfo{
    margin: auto;
  }
  .photoId{
    margin: auto;
  }
  section{
    display: flex;
    flex-direction: column;
  }
}

/* Dropdown button filter */


.filter{
    margin: 4rem;
    padding: 0 2rem;
    display: flex;
    p{
        font-weight: 700;
        font-size: 18px;
        margin-right: 2rem;
    }
}
.dropbtn {
    background-color: $color-primary;
    color: white;
    padding: 20px 24px;
    font-size: 16px;
    font-weight: 700;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    min-width: 160px;
    letter-spacing: 1px;
    text-align: left;
  }
  .fa-angle-down{
   position: absolute;
   top: 20px;
   right: 8px;
   width: 20px;
   cursor: pointer;
   color: white;
   font-size: 1.4rem;
   transition: 1ms;
   &.active{ // adds class active in js when clicked on dropBtn to rotate the arrow
     transform: rotate(180deg);
     transition: 1ms;
     top: 20px;
     right: 16px;
   }
  }
  .dropdown {
    position: relative;
    display: inline-block;
  }

  .dropdown-content {      /* Dropdown Content (Hidden by Default) */
    display: none;
    position: absolute;
    background-color: $color-primary;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    border-radius: 0 0 5px 5px;
    margin-top: -4px;
    padding: 0 10px;
  }
  .option{
    color: white;
    font-weight: 700;
    padding: 14px;
    text-decoration: none;
    display: block;
    letter-spacing: 1px;
    border-top: 1px solid white;
    cursor: pointer;
  }

  // Show the dropdown menu - same class used in JS when clicked 
  .show {
    display:block;
  }


/* Contact Form */


.modal{
  display: none;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background: rgba(196,196,196,.4);
  overflow: auto;
  .modalContent{
    position: relative;
    background-color: $color-secondary;
    width: 669px;
    z-index: 1;
    padding: 2rem;
    border-radius: 5px;
    margin: 5% auto;
    }
  .fa-times{
    position: absolute;
    right: 30px;
    color: white;
    font-size: 2rem;
    cursor: pointer;
    top: 2.2rem;
  }
  h1{
    color: white;
    margin-top: 0;
  }
  .formData{
    margin-bottom: 2rem;
  }
  .text-control{
    min-width: 600px;
    height: 68px;
    border-radius: 5px;
    border: none;
    margin-top: 0.6rem;
    font-size: 1.5rem;
  }
  .text-message{
    min-width: 600px;
    height: 170px;
    border-radius: 5px;
    border: none;
    margin-top: 0.6rem;
    font-size: 1.5rem;
  }
  label{
    font-size: 2rem;
  }
  .btn-submit{
    width: 170px;
    height: 69px;
    background-color: $color-primary;
    border: none;
    border-radius: 5px;
    font-weight: 700;
    color: white;
    font-size: 18px;
  }
  .formData[data-error]::after {
    content: attr(data-error);
    font-size: 1.4rem;
    color: white;
    display: block;
    margin-top: 16px;
    margin-bottom: 7px;
    text-align: right;
    line-height: 0.3;
    opacity: 0;
    transition: 0.3s;
  }
  .formData[data-error-visible="true"]::after {
    opacity: 1;
  }
  .formData[data-error-visible="true"] .text-control {
    border: 2px solid black;
  }
}


/* Media Part */


#media{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 6rem;
  .photographerWork{
    width: 350px;
    height: 300px;
    margin: 2rem 2rem 0 2rem;
    object-fit: cover;
    border-radius: 5px;
    cursor: pointer;
  }
  .photographerWorkInfo{
    display: flex;
    justify-content: space-between;
    margin: 0 2rem 2rem 2rem;
    font-size: 18px;
    font-weight: 500;
    color: $color-primary;
  }
  .likesCounter{
    display: flex;
  }
  .imagesLikes{
    margin: auto;
  }
  .fa-heart{
    cursor: pointer;
    padding: 1.2rem 0 0 0.5rem;
  }
}

/* Responsive design medias */

@media (max-width: 768px) {
  #media{
    flex-direction: column;
    align-content: center;
  }
  .photographerWorkInfo{
    max-width: fit-content;
    .imagesName{
      padding-right: 1rem;
    }
  }
}


/* Lightbox */
 

#lightbox{
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(255,255,255,0.9);
  z-index: 10;
  overflow: auto;
  img{
    max-width: 800px;
    object-fit: contain;
  }
  video{
    max-width: 1200px;
    height: 1200px;
    object-fit: contain;
  }
  .lightboxNext,
  .lightboxPrevious{
    background: url(/assets/icons/arrow.svg) center center / 100% 100%;
    color: $color-primary;
    width: 30px;
    height: 48px;
    position: fixed;
    top: 50%;
    right: 50px;
    z-index: 11;
    cursor: pointer;
  }
  .lightboxPrevious{
    right: auto;
    left: 50px;
    transform: rotate(180deg);
  }
  .lightboxClose{
    background: url(/assets/icons/cross.svg);
    color: $color-primary;
    width: 42px;
    height: 42px;
    position: fixed;
    z-index: 11;
    cursor: pointer;
    right: 50px;
    top: 50px;
  }
  button{
    border: none;
    opacity: .9;
  }
  button:hover{
    opacity: 1;
  }
  .lightboxContainer{
    margin: 4rem 8rem;
    min-height: 100vh; 
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
  .imagesNameLightbox{
    font-size: 28px;
    font-weight: 600;
    color: $color-primary;
  }
}
#lightbox.active{ /* When clicked on in JS */
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Responsive design lightbox medias */

@media (max-width: 800px) {
  #lightbox{
    img{
      max-width: 400px;
      object-fit: contain;
    }
    video{
      max-width: 500px;
      height: 500px;
      object-fit: contain;
    }
  }  
}

@media (max-width: 400px) {
  #lightbox{
    img{
      max-width: 200px;
      object-fit: contain;
    }
    video{
      max-width: 300px;
      height: 300px;
      object-fit: contain;
    }
  } 
}


/* Footer */


.footerInfo{
  position: fixed;
  bottom: 0;
  right: 4rem;
  display: flex;
  justify-content: space-between;
  padding: 1rem;
  background-color: #DB8876;
  width: 376px;
  height: 89px;
  border-radius: 5px;
  font-weight: 500;
  font-size: 24px;
  .footerTotalLikes{
    display: flex;
  }
  .fa-heart{
    align-self: center;
    margin-top: 1.4vh;
    padding-left: 0.4rem;
  }
}

@media (max-width: 762px) {
  .footerInfo{
    display: none;
  }
}





